<clr-main-container>
  <app-alert [alertMsg]="alertMsg" (onClose)="onCloseAlert()"></app-alert>
  <clr-header class="header-7" style="height: 25px">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">Wastp</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="#" clrDropdownItem>About</a>
          <a href="#" clrDropdownItem>Preferences</a>
          <a href="#" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/tournaments']" routerLinkActive="active"><span class="nav-text">Tournaments</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/teams']" routerLinkActive="active"><span class="nav-text">Teams</span></a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
