<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">Wastp</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/tournaments']" routerLinkActive="active"><span class="nav-text">Tournaments</span></a>
      <a class="nav-link" href="#" [routerLink]="['/teams']" routerLinkActive="active"><span class="nav-text">Teams</span></a>
    </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
